.addittionally {
  padding-top: 39px;
  padding-bottom: 15px;
}

.addittionally__item {
  position: relative;
  display: flex;
}

.addittionally__checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.addittionally__label {
  padding: 10px 15px 10px 59px;
}

.addittionally__checkbox + .addittionally__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  top: 0;
  left: 10px;
}

.addittionally__checkbox:checked + .addittionally__label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../../img/check.svg");
  background-color: #ffffff;
  top: 10px;
  left: 19px;
  z-index: 5;
}

@media (min-width: 768px) {
  .addittionally {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding-top: 62px;
    padding-bottom: 59px;
  }

  .addittionally__label {
    padding: 10px 15px 10px 59px;
  }

  .addittionally__checkbox + .addittionally__label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    top: 4px;
    left: 3px;
  }

  .addittionally__checkbox:checked + .addittionally__label::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    background-image: url("../../img/check-tablet.svg");
    background-color: #ffffff;
    top: 15px;
    left: 14px;
    z-index: 5;
  }
}

@media (min-width: 1440px) {
  .addittionally {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0;
  }

  .addittionally__item:not(:last-child) {
    margin-right: 40px;
    min-width: 285px;
  }
}
