.contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

@media (min-width: 768px) {
  .contacts {
    padding: 56px 70px;
    display: flex;
    justify-content: space-between;
  }

  .contacts__slogan {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .contacts__address {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    max-width: 172px;
  }
}
