.contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__slogan {
  margin: 0;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
