.contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
  max-width: 139px;
}

.contacts__address-street {
  margin: 0;
}

.contacts__address-town {
  margin: 0;
}

@media (min-width: 768px) {
  .contacts {
    padding: 61px 70px 60px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .contacts__slogan {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .contacts__address {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    max-width: 172px;
    text-align: right;
  }

  .contacts__address-street  {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding: 57px 80px;
    width: 408px;
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 110px;
    content: "";
    z-index: 1;
  }

  .contacts__address {
    text-align: left;
    width: 157px;
  }
}
