.example {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

.example__wrapper {
  padding-top: 25px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.example__description {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

.example__result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.example__results {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
}

.example__results-title {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  max-width: 87px;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
  position: absolute;
  top: 45px;
  right: 0;
  left: 18px;
}

.example__results-description {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 82px;
  text-align: center;
  color: #000000;
  padding: 15px 21px 18px 21px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin: 0;
}

.example__costs {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  display: flex;
}

.example__costs-sum {
  margin: 0;
}

.example__slider {
  width: 280px;
  height: 256px;
  display: flex;
  position: relative;
  padding-bottom: 40px;
}

.example__slider-after,
.example__slider-before {
  width: 50%;
}

.example__slider-image {
  flex-grow: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.example__slider-image--before {
  object-position: left;
}

.example__slider-image--after {
  object-position: right;
}


.example__slider-scale {
  position: absolute;
  width: 4px;
  height: 256px;
  content: "";
  top: 0;
  left: 50%;
  background-color: #666666;
}

.example__slider-button {
  position: absolute;
  background-image: url("../../img/slider.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  content: "";
  top: 108px;
  left: -18px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;

  &:hover {
    color: #68b738;
  }
}

.example__slider-bar {
  position: relative;
}

.example__slider-weight {
  position: absolute;
  width: 10px;
  height: 10px;
}

@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    position: relative;
  }

  .example__wrapper {
    margin: 0;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    background-position: 30px 30px;
    padding-bottom: 683px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-top: 0;
  }

  .example__description {
    margin-top: 65px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    font-family: "Arial", sans-serif;
    text-align: start;
  }

  .example__result {
    display: flex;
    justify-content: space-between;
    width: 366px;
  }

  .example__results-title {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px;
    text-align: center;
    color: #444444;
    background-color: #eaeaea;
    position: absolute;
    top: 58px;
    left: 10px;
    right: 10px;
    min-width: 114px;
    max-width: 142px;
  }

  .example__results-description {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    line-height: 37px;
    width: 120px;
  }

  .example__costs {
    margin: 0;
    margin-top: 11px;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: right;
    flex-direction: column;
  }

  .example__costs-title {
    margin-bottom: 5px;
  }

  .example__slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 104px;
  }

  .example__slider-scale {
    height: 512px;
  }

  .example__slider-button {
    top: 233px;
  }
}

@media (min-width: 1440px) {
  .example {
    position: relative;
    padding: 70px 110px;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 436px;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 75px;
  }

  .example__description {
    margin-top: 150px;
    margin-bottom: 65px;
  }

  .example__result {
    margin-bottom: 57px;
  }

  .example__results-description {
    min-width: 120px;
  }

  .example__results-title {
    min-width: 114px;
    max-width: 142px;
    background-color: #ffffff;
    left: 0;
    right: 0;
  }

  .example__costs {
    text-align: left;
    margin: 0;
    min-width: 400px;
    flex-direction: row;
  }

  .example__costs-title {
    margin: 0;
    margin-right: 65px;
  }

  .example__slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 770px;
  }
}
