.goal {
  margin: 24px 0 26px 0;
  padding: 28px 24px 25px 45px;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  .goal {
    padding: 30px;
    border: 1px solid #e7e7e7;
  }

  .goal__label {
    padding-left: 58px;
  }
}

@media (min-width: 1440px) {
  .goal {
    margin: 0;
    margin-left: 80px;
  }

  .goal__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
