.goal {
  padding: 28px 24px 25px 56px;
}

@media (min-width: 768px) {
  .goal {
    padding: 30px;
    border: 1px solid #e7e7e7;
  }

  .goal__label {
    padding-left: 58px;
  }
}

@media (min-width: 1440px) {
  .goal {
    margin-left: 80px;
  }

  .goal__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
