.goal {
  margin: 24px 0 0 0;
  padding: 28px 0;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

.goal__item {
  position: relative;
  display: flex;
}

.goal__radiobutton {
  position:absolute;
  opacity: 0;
  z-index: -1;
}

.goal__label {
  padding: 10px 15px 10px 59px;
}

.goal__radiobutton + .goal__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 10px;
}

.goal__radiobutton:checked + .goal__label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #68b738;
  top: 10px;
  left: 19px;
  border-radius: 50%;
  z-index: 5;
}

@media (min-width: 768px) {
  .goal {
    padding: 30px;
    border: 1px solid #e7e7e7;
  }

  .goal__label {
    padding-left: 20px;
  }

  .goal__radiobutton {
    position:absolute;
    opacity: 0;
    z-index: -1;
  }

  .goal__label {
    padding: 10px 15px 10px 68px;
  }

  .goal__radiobutton + .goal__label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    border-radius: 50%;
    top: 3px;
    left: 5px;
  }

  .goal__radiobutton:checked + .goal__label::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #68b738;
    top: 15px;
    left: 17px;
    border-radius: 50%;
    z-index: 5;
  }
}

@media (min-width: 1440px) {
  .goal {
    margin: 0;
    margin-left: 80px;
  }

  .goal__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .goal__label {
    padding-left: 20px;
  }

  .goal__radiobutton {
    position:absolute;
    opacity: 0;
    z-index: -1;
  }

  .goal__label {
    padding: 5px 15px 5px 58px;
  }

  .goal__radiobutton + .goal__label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 5px;
  }

  .goal__radiobutton:checked + .goal__label::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #68b738;
    top: 12px;
    left: 17px;
    border-radius: 50%;
    z-index: 5;
  }
}
