.logo {
  display: block;
  padding: 12px 0;

  &--hover {
    opacity: 0.6;
  }
}

.logo__name {
  margin-left: 65px;
  opacity: 0.6;
}

.logo--footer {
  display: block;
  text-align: center;
  margin-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .logo {
    display: block;
    padding: 24px 0;
  }

  .logo__name {
    display: none;
  }

  .logo__image {
    width: 174px;
    height: 52px;
  }

  .logo--footer {
    margin: 0;
    padding: 0;
    border: none;
  }
}
