.main-search {
  margin: 0;
}

.main-search__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
}

.main-search__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

@media (min-width: 768px) {
  .main-search {
    padding: 0 70px;
  }

  .main-search__title {
    margin-top: 27px;
    margin-bottom: 37px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-search__text {
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: 1440px) {
  .main-search__text {
    margin-bottom: 56px;
  }
}
