.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav__list {
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../../img/button-menu-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  left: 220px;
  top: -40px;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .main-nav__toggle {
    display: none;
  }
}
