.map {
  margin: 0;
  position: relative;
}

.map::after {
  position: absolute;
  background-image: url("../../img/map_pin.png");
  content: "";
  width: 57px;
  height: 53px;
  top: 139px;
  left: 134px;
}

@media (min-width: 768px) {
  .map::after {
    position: absolute;
    background-image: url("../../img/map_pin-pc.png");
    content: "";
    width: 113px;
    height: 106px;
    top: 139px;
    left: 134px;
  }
}

