.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 25px;
}

.product::after {
  position: absolute;
  content: "";
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  left:-200px;
}

.product__image-link {
  flex-basis: 50%;
  width: 50%;
  margin-bottom: 12px;
}

.product__image {
  margin-left: 28px;
  display: block;
  margin: 0;
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 78px;
  margin: 0;
  margin-bottom: 14px;
  color: #222222;
}

.product__info {
  width: 50%;
  margin-bottom: 22px;
}

.product__details {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #444444;
  margin: 0;
}

.product--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__image-link--empty {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 45%;
    right: 45%;
    width: 30px;
    height: 2px;
    background-color: #D3D3D3;
    cursor: pointer;
  }


  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

}

.product__title--empty {
  max-width: 100%;
  margin-top: 46px;
  margin-bottom: 9px;
}

.product__details--empty {
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    padding: 162px 36px 40px 36px;
    max-width: 253px;
    position: relative;
    margin: 0;
    margin-top: 140px;
  }

  .product__image-link {
    margin: 0;
  }

  .product__image {
    position: absolute;
    width: auto;
    height: auto;
    content: "";
    top: -70px;
    left: 77px;
    margin: 0;
  }

  .product__info {
    width: 100%;
    margin-bottom: 28px;
  }

  .product__title {
    max-width: 140px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 15px;
  }

  .product__details {
    font-size: 16px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product--empty {
    background-color: #ffffff;
    padding-top: 30px;
  }

  .product__image-link--empty {
    position: relative;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 54px;
      left: 38%;
      right: 39%;
      width: 60px;
      height: 2px;
      background-color: #D3D3D3;
      cursor: pointer;
    }

    &::before {
      transform: rotate(90deg);
      box-shadow: none;
    }
  }

  .product__title--empty {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 22px;
  }

  .product__details--empty {
    margin-bottom: 78px;
    padding: 0 38px;
    text-align: center;
    line-height: 18px;
    border-bottom: none;
  }
}

@media (min-width: 1440px) {
  .product {
    max-width: 180px;
    padding: 162px 30px 40px 35px;
  }

  .product__image {
    position: absolute;
    width: auto;
    height: auto;
    content: "";
    top: -78px;
    left: 39px;
    margin: 0;
  }

  .product__title {
    line-height: 22px;
    margin-bottom: 17px;
  }

  .product__info {
    max-width: 166px;
  }

  .product__details {
    padding-top: 9px;
  }
}
