.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.product__image-link {
  flex-basis: 50%;
}

.product__image {
  margin-left: 28px;
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 78px;
  margin: 0;
  margin-bottom: 14px;
  color: #222222;
}

.product__info {
  width: 50%;
  margin-top: 19px;
  margin-bottom: 22px;
}

.product__details {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #444444;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    padding: 162px 38px 40px 38px;
  }

  .product__image-link {
    position: relative;
  }

  .product__image {
    position: absolute;
    top: -52px;
    left: -30px;
  }

  .product__info {
    width: 100%;
  }

  .product__title {
    max-width: 140px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 21px;
  }

  .product__details {
    font-size: 16px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product--empty {
    background-color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .product {
    max-width: 169px;
    padding: 162px 30px 40px 35px;
  }

  .product__image {
    top: -200px;
  }
}
