.promo {
  background-color: #ffffff;
  position: relative;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
}

.promo__wrapper {
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../img/promo-cat.png");
  background-repeat: no-repeat;
  min-height: 302px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 164px;
  padding: 0;
}

.promo__image {
  margin-bottom: 30px;
  position: absolute;
  left: 20px;
  top: 167px;
}

@media (min-width: 768px) {
  .promo {
    padding: 0 87px;
  }

  .promo__wrapper {
    background: #ffffff;
    background-image: none;
    color: #000000;
    text-align: left;
    max-width: 414px;
    margin-left: 117px;
    min-height: auto;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
    padding: 0;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .promo__image {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 263px;
    width: auto;
    height: auto;
    z-index: 4;
  }
}

@media (min-width: 1440px) {
  .promo {
    padding: 0 80px;
  }

  .promo::before {
    position: absolute;
    content: "";
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../img/promo-cat--desktop.jpg");
    background-repeat: no-repeat;
    min-height: 694px;
    width: 50%;
    top: -115px;
    z-index: 10;
  }

  .promo__image {
    margin-bottom: 0;
    position: absolute;
    left: 448px;
    top: 32px;
    width: auto;
    height: auto;
    z-index: 15;
  }
}
