.search-form {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.search-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.search-form__list--dark {
  color: #222222;
}

.search-form__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  padding-bottom: 26px;

  &:not(:last-of-type)::after {
    border-bottom: 1px solid #68b738;
    width: 200%;
    height: 0;
    position: absolute;
    content: "";
    top: 110%;
    left: -30%;
    z-index: -1;
  }
}

.search-form__item {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  margin-bottom: 14px;
}

.search-form__item:last-child {
  margin-bottom: 0;
}

.search-form__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-left: -20px;
  background-color: #ffffff;
  padding: 0 20px;
  color: #000000;
}

.search-form__title--owner {
  padding-bottom: 35px;
}

.search-form__label {
  margin: 0;
  padding: 0;
}

.search-form__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-family: inherit;
  width: 100%;
}

.search-form__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 35px;
  margin-bottom: 14px;
  width: 100%;
  min-height: 150px;
  color: #000000;
  font-family: inherit;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .search-form {
    padding-top: 76px;
    padding-bottom: 72px;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .search-form__title--owner {
    padding-bottom: 76px;
  }

  .search-form__list {
    font-size: 20px;
    line-height: 30px;
  }

  .search-form__label {
    margin-right: 10px;
    min-width: fit-content;
  }

  .search-form__text {
    width: 100%;
    padding: 10px 50px 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .search-form__textarea {
    padding: 10px 19px;
    min-height: 174px;
    margin-top: 76px;
    margin-bottom: 65px;
  }
}

@media (min-width: 1440px) {
  .search-form__group {
    display: flex;
    padding-bottom: 65px;
  }

  .search-form__item {
    margin: 0;
    margin-bottom: 20px;
  }

  .search-form__item:last-child {
    margin-bottom: 0;
  }

  .search-form__textarea {
    margin-bottom: 2px;
  }
}
