.sub-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
  position: relative;
  background-color: #ffffff;
  padding: 0;
  width: 100%;
  padding-bottom: 35px;
  border-bottom: 1px solid #cdcdcd;
}

.sub-catalog__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68b738;
  bottom: 43px;
  left: 246px;
  z-index: 10;
}

.sub-catalog__item {
  padding: 13px 0 19px 0;
  border-bottom: 1px solid #cdcdcd;
}

.sub-catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.sub-catalog__details {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  color: #444444;
}

@media (min-width: 768px) {
  .sub-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 68px 38px;
    border: none;
  }

  .sub-catalog__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    padding: 26px 38px 27px 38px;
  }

  .sub-catalog__item-title {
    font-size: 20px;
    line-height: 20px;
  }

  .sub-catalog__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    bottom: 83px;
    z-index: -10;
  }

  .sub-catalog__details {
    display: flex;
    max-width: 225px;
    text-align: left;
    align-items: middle;
  }

  .sub-catalog__volume,
  .sub-catalog__price {
    margin: 0;
    margin-top: 2px;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
  }

  .sub-catalog__price {
    min-width: 90px;
    text-align: end;
  }

  .sub-catalog__list {
    border: 1px solid #cdcdcd;
    margin-top: 13px;
    margin-bottom: 33px;
  }

  .sub-catalog__item:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1440px) {
  .sub-catalog__item {
    display: flex;
    flex-direction: row;
    max-width: 895px;
    border-bottom: 1px solid #cdcdcd;
    align-items: center;
  }

  .sub-catalog__item:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .sub-catalog__details {
    display: flex;
    justify-content: space-between;
    min-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .sub-catalog__item-title {
    width: 324px;
  }
}
